%% Uncomment these to enable compiling the rpc modules
%{post_hooks, [
%    {compile, "erl -noshell -pa ../ebin -eval 'file:set_cwd(\"rpc\")' -eval 'erpcgen:file(pmap, [xdrlib,clnt])' -s init stop"},
%    {compile, "erl -noshell -pa ../ebin -eval 'file:set_cwd(\"rpc\")' -eval 'erpcgen:file(rpc, [xdrlib,clnt])' -s init stop"},
%    {compile, "erlc -o ebin rpc/*.erl"}
%    ]
%}.
%{clean_files, [
%    "rpc/pmap.hrl",
%    "rpc/pmap_clnt.erl",
%    "rpc/pmap_xdr.erl",
%    "rpc/rpc.hrl",
%    "rpc/rpc_clnt.erl",
%    "rpc/rpc_xdr.erl"
%]}.
